@page "/home"
@using ServiceLayer.Interfaces


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
@code{
    [Inject]
    private IMemberService MemberService { get; set; } // ✅ inject theo interface

    protected override async Task OnInitializedAsync()
    {
        var members = MemberService.GetAllMembers(); // hoặc dùng async nếu bạn đổi
    }


}