@page "/"
@using ServiceLayer


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
@code{
    [Inject]
    private MemberService MemberService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var member = await MemberService.GetMembers(); // tùy vào hàm của bạn
    }
}